[Unit]
Description=Setup storage for a minimal in-memory Zabbix

[Service]
ExecStart=/opt/mini-zabbix/mini-zabbix-storage.sh
Type=oneshot
User=root
Restart=no

